
.countrie-details{
    font-size: 1rem;
}
.countrie-details img, .countrie-details button {
    box-shadow: var(--default-box-shadow);
}
.about{
    display: flex;
    grid-gap: 20px;
    height: calc(100vh - 221px);
    padding: 15px;
    flex-wrap: wrap;
    overflow: auto;
}

.about > * {
    flex: 1 1 550px;
}

.details{
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    flex-wrap: wrap;
}
.footer .border{
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    text-decoration: dotted;
    padding: 5px 10px;
    box-shadow: 0 0 5px 0;
}

.details .header{
    text-align: center;
}
.countrie-content{
    display: flex;
    flex-wrap: wrap;
    line-height: 40px;
    margin: 50px 0;
    overflow: auto;
}
.countrie-content p{
    font-weight: 600;
    margin: 5px 0;
}

@media screen and (max-width: 550px){
    .about{
        grid-auto-flow: row;
    }
}